<!DOCTYPE html>
<html>
<head>
  <title>Sred</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <ul class="nav">
    <li><%= link_to "Timesheets", timesheets_path %></li>
    <li><%= link_to "Tasks", tasks_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
    <li><%= link_to "Staff", staff_members_path %></li>
    <li><%= link_to "SRED Projects", sred_projects_path %></li>
  </ul>
</div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
